@charset "UTF-8";

body {
	background: rgb(238, 251, 245);

}

#content{

	border: 1px solid;
	background: #2f3859;
	width: 700px;
	height: 5000px;
	right:20%;
	top:20%;
	position: absolute;
	
}

img{
	
	width:100%;
	height:100%;
}


.interContent{
	
	width: 300px;

	border: 1px solid;

	margin-top:10px;
	margin-left:200px;
	background: white;
	
}
.contentBox{
	table-layout:fixed;
	width:100%;
	height:100%;
	
}

.userIdInContent {
	height:5%;
	background:gray;
}

#commentArea{
	height:7%;
	background:gray;
}

.profile{
	color:white;
	border: 1px soild;
	position: absolute;
	top:100px;
	right: 20px;
	background: #2f3859;

}

td.profileTd:hover{background:rgb(104, 105, 140);}

.search{
	
	top:2px;
	right: 2px;
	position:fixed;
	
}
table, tr, td, th {
	text-align: center;
	
}
